server:
  port: 8080
spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      routes:
        - id: payment-service-route
          uri: http://payment-service:8081 # For local run, use lb://payment-service with service discovery
          predicates:
            - Path=/api/v1/payments/**